 <div class="register">
      <form method="POST" action="/users/login">
        <h2>Log In</h2>
        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
        <input type="email" name="email" placeholder="email">
        </div>
        <div class="wrap-input100 validate-input" data-validate="Password is required">
        <input type="password" name="pass" placeholder="Password"><br><br>
        </div>
        <button class="login100-form-btn">
                        Login
                    </button><br><br>
        <div id="cont">
        <a id="forgot" href="#">Forgot password?</a>
        </div><br><br>
        Don't have an account?<a href="#">&nbsp;Sign Up</a>
      </form>
    </div>
