 <div class="register">
      <form action="/users/register" method="POST">
        <h2>REGISTER</h2>
        <input type="text" name="firstName" placeholder="firstname">
        <input type="text" name="lastName" placeholder="lastname">
        <input type="email" name="email" placeholder="email"><br>
        <input type="text" name="phoneNumber" placeholder="phone"><br>
        <input type="text" name="location" placeholder="location"><br>
        <input type="password" name="password" placeholder="Password"><br><br>
        <input type="password" name="password2" placeholder="confirm Password"><br><br>
        <button>Register
				<i class="zmdi zmdi-arrow-right"></i>
			</button>
        <br><br>
        <div id="cont">
          <a id="reset" href="#">Reset password?</a>
          <a id="forgot" href="#">Forgot password?</a>
        </div><br><br>
        Don't have an account?<a href="#">&nbsp;Sign Up</a>
      </form>
    </div>
