<section class="aa-myaccount">
    <div class="container">
        <div class="row" style="width: 100%;">
            <div class="offset-md-3 col-md-6 my">
                <div class="aa-myaccount-register">
                    <h4>User Verification</h4>
                    <form action="/users/verify" method="POST" class="aa-login-form">

                        <label for="">Token<span>*</span></label>
                        <input type="text" name="secretToken" placeholder="Secret Token" required>

                        <button type="submit" class="aa-browse-btn">Verify</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>