<footer class="text-muted">
    <div class="container">
        <div class="socials">
            <ul>
                <p> connect with us on our social media and stay upadated with our latest product </p>
                <li>
                <a href=""><i class="fa fa-whatsapp fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://web.facebook.com/"><i class="fa fa-facebook fa-2x"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-youtube fa-2x"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-envelope fa-2x"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-instagram fa-2x"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-pinterest fa-2x"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                </li>
            </ul>
        </div>
        
        <p class="back">
            <a href="#">Back to top</a>
        </p>
        <div class="copy">
            <p>Moscow Farmers Market copyright &copy; 2019</p>
        </div>
    </div>
</footer>
