  <div class="contact-section">
    <form class="contact-form">
      <h1>Contact Us</h1>
      <input class="contact-form-text" type="text" placeholder="Your name">
      <input class="contact-form-text" type="email" placeholder="Your email">
      <input class="contact-form-text" type="text" placeholder="Your phone">
      <textarea class="contact-form-text" placeholder="your message"></textarea>
      <input type="submit" class="contact-form-btn" value="send"> <br><br>
    </form>
  </div>
