  
<section id="management">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <h2>Manager</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Labore quia ad esse ratione optio aspernatur distinctio cumque, 
          aut officiis exercitationem deserunt natus quasi consequatur
          quam suscipit cupiditate dolor magnam eius.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Labore quia ad esse ratione optio aspernatur distinctio cumque, 
          aut officiis exercitationem deserunt natus quasi consequatur
          quam suscipit cupiditate dolor magnam eius.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Labore quia ad esse ratione optio aspernatur distinctio cumque, 
          aut officiis exercitationem deserunt natus quasi consequatur
          quam suscipit cupiditate dolor magnam eius.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Labore quia ad esse ratione optio aspernatur distinctio cumque, 
          aut officiis exercitationem deserunt natus quasi consequatur
          quam suscipit cupiditate dolor magnam eius.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Labore quia ad esse ratione optio aspernatur distinctio cumque, 
          aut officiis exercitationem deserunt natus quasi consequatur
          quam suscipit cupiditate dolor magnam eius.
        </p>
      </div>
      <div class="col-sm-5">
        <div class="img-wrap">
          <img src="/img/segun.jpg" alt="">
          <h2>Mr Moses</h2>
        </div>
      </div>
    </div>
  </div>
</section>

